<input [(ngModel)]="pieChartType" type="radio" name="pieChartType" value="legendLine" checked>Линии
<input [(ngModel)]="pieChartType" type="radio" name="pieChartType" value="radialMove">Радиальный сдвиг
<input [(ngModel)]="pieChartType" type="radio" name="pieChartType" value="radialScale">Радиальное масштабирование
<input [(ngModel)]="pieChartType" type="radio" name="pieChartType" value="fill">Заливка

<app-pie-chart
    [extRadius]="extRadius"
    [intRadius]="intRadius"
    [info]="info"
    [pieChartType]="pieChartType"
></app-pie-chart>
