<!--<svg:path animated-legend-line
    [piePiece]="piePiece"
    [animationConfig]="{
        property: 'stroke-dashoffset',
        duration: '.6s',
        ttf: 'ease-out'
    }"
    [styleConfig]="{
        fill: 'none',
        stroke: 'black',
        strokeWidth: '1.1'
    }"
    [attr.d]="path"
    [attr.fill]="fill"
/>-->
<svg:path animated-radial-move
    [piePiece]="piePiece"
    [animationConfig]="{
        property: 'transform',
        duration: '.6s',
        ttf: 'ease-out'
    }"
    [radialLength]="12"
    [attr.d]="path"
    [attr.fill]="fill"
/>
