<svg:path *ngIf="type === 'legendLine'" animated-legend-line
    [piePiece]="piePiece"
    [animationConfig]="{
        property: 'stroke-dashoffset',
        duration: '.6s',
        ttf: 'ease-out'
    }"
    [styleConfig]="{
        fill: 'none',
        stroke: 'black',
        strokeWidth: '1.1'
    }"
    [attr.d]="path"
    [attr.fill]="fill"
/>
<svg:path *ngIf="type === 'radialMove'" animated-radial-move
    [piePiece]="piePiece"
    [animationConfig]="{
        property: 'transform',
        duration: '.6s',
        ttf: 'ease-out'
    }"
    [radialLength]="12"
    [attr.d]="path"
    [attr.fill]="fill"
/>
<svg:path *ngIf="type === 'radialScale'" animated-radial-scale
    [piePiece]="piePiece"
    [animationConfig]="{
        property: 'transform',
        duration: '.6s',
        ttf: 'ease-out'
    }"
    [scaleFactor]="1.2"
    [attr.d]="path"
    [attr.fill]="fill"
/>
<svg:path *ngIf="type === 'fill'" animated-fill
    [piePiece]="piePiece"
    [animationConfig]="{
        property: 'all',
        duration: '.6s',
        ttf: 'ease-out'
    }"
    [styleConfig]="{
        fillOpacity: '.4'
    }"
    [attr.d]="path"
    [attr.fill]="fill"
/>
